 body {
  padding-left: 30px;
  padding-right: 30px;
  background: #FDCA00;
  font-family: Arial, sans-serif;
  cursor: grabbing;
 }

h1 {
  font-size: 72px;
  color: #333333;
  display: inline-block;
}

 h2 {
   margin-top: 50px;
   color: #1D2AD1;
   font-size: 48px;
 }

#generate {
  text-align: left;
  padding: 30px;
  margin-right: 30px;
  margin-top: 45px;
  display: inline-block;
  font-size: 48px;
  padding: 15px;
  background-color: #F52500;
  color: #FFFFFF;
  cursor: grab;
  float: right;
}

#generate:hover {
  cursor: grab;
}
